
	
		/*h1 {
			font-size: 30px;
			font-weight: 100; 
			letter-spacing: 5px;
			text-align: center;
			padding: 0px;
			margin: 0;
	

		}*/


	
	
	
		
		
		
		
	
	
#hmibanner 
{
	color: #000000;
			/*height: 30px;*/
			font-size: 40px;
			font-weight: 100;
			letter-spacing: 5px;
			text-align: center;
			padding: 0;
			margin: 0;
			
			text-decoration:  none;
		}
	
#hmibanner  a
{
	color: inherit;
	text-decoration:  none;
	
}
	
	
		
/*a {
	text-decoration: none;
	color: 
	color: inherit;
}*/
	
/*a:link    
{
	text-decoration: none;
	color: inherit;
} 
  
	a:visited {
			color: inherit
				text-decoration: none;
			
  } 
a:hover   {
		color: inherit
			text-decoration: none;
	
  } 
a:active  {
	color: inherit
			text-decoration: none;
	
  } 
	
	
	*/
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
/* Menu */
		
		
		
#header
{
	float:left;
	width:100%;
}	
		
		
#main_nav ul 
{
	padding:0px;
	margin: 0px;
			
	width:100%;
	background: #333;
	float: left;
	-webkit-transition: .1s;
	transition: .1s;
}

#main_nav li 
{
	float: left;
	position: relative;
	width: 100px;
	list-style: none;
	-webkit-transition: .1s;
	transition: .1s;
}

#main_nav > ul > li > a, h1 
{
		/*text-transform: uppercase;*/
}

#main_nav a {
	display: block;
	text-decoration: none;
	padding: 0px 5px;
	color: #fff;
}

#main_nav ul ul 
{
	position: absolute;
	left: 0;
	top: 100%;
	visibility: hidden;
	opacity: 0;
}
	
#main_nav ul ul ul 
{
	left: 100%;
	top: 0;
}
	
#main_nav li:hover, #main_nav li:hover li 
{
	background: #888;
}
	
#main_nav li li:hover, #main_nav li li:hover li 
{
	background: #888;
}
	
#main_nav li li li:hover 
{
	background: #888;
}
	
#main_nav li:hover > ul 
{
	visibility: visible;
	opacity: 1;
}
		
		
/* Canvas */
		

		
#canvas_box
{
	float:left;
	left:0px;
  	width : 100%;
	/*position:absolute;*/
  
	height:100%;
	/*border:2px solid #000000;*/
}
		
/* Edit */
		
#edit_box
{
	top:70px;
	
		/*background: #ee0000;*/
	/*display:none;*/

/*	position:absolute;
	
	border:2px solid #000000;
	
	left:10000;
	opacity:0.90;
    filter:alpha(opacity=40);
    z-index: 1000; 
	background: #eeeeee;
	top:0px;
	height:100%;
	width:300px;
	float:right;
	 overflow-y: scroll;*/

	 position:absolute; right:0;
}

	
		
		